<head>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <!-- jQuery and Bootstrap Bundle (includes Popper.js) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/javascript/signin.js" defer></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- 로고 이미지 링크 -->
    <a href="/" class="navbar-brand">
      <img class="ci" src="/images/CI2.png" alt="logo" width="250">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <!-- My Page 링크 -->
        <li class="nav-item">
          <p class="mb-0 mr-3">
            <a href="/mypage" class="text-dark" style="text-decoration: none;">My Page</a>
          </p>
        </li>
        <!-- 로그인 링크 -->
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <!-- 회원가입 버튼 -->
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-white" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
