<!-- views/partials/header.ejs -->

<head>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <!-- jQuery and Bootstrap Bundle (includes Popper.js) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- 로고 이미지 링크 -->
    <a href="/" class="navbar-brand">
      <img class="ci" src="/images/CI2.png" alt="logo" width="250">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <!-- My Page 링크 -->
        <li class="nav-item" id="mypage" style="display: none;">
          <p class="mb-0 mr-3">
            <span id="userNameDisplay" class="mr-2"></span> <!-- 사용자 이름 출력 위치 -->
            <a href="/mypage" class="text-dark" style="text-decoration: none;">My page</a>
          </p>
        </li>
        <!-- 로그인 링크 -->
<<<<<<< HEAD
        <!-- id, aria-current 추가 -->
=======
>>>>>>> 0e71f24fb5bceb8cdf97972b919419b8730c3cfb
        <li class="nav-item" id="login">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <!-- displayName -->
        <!-- 2024-12-24 이희범 현 사용자 이름 출력 추가 -->
        <li class="nav-item" id="displayName" style="display: none;">
          <a href="#" aria-current="page" class="nav-link active">현사용자이름출력자리</a>
        </li>
        <!-- 회원가입 버튼 -->
        <li class="nav-item" id="signup">
          <a class="nav-link btn btn-dark text-white" href="/signup">signup</a>
        </li>
        <!-- 로그아웃 버튼 -->
        <li class="nav-item" id="logout" style="display: none;">
          <a class="nav-link active" aria-current="page" href="#">Logout</a>
<<<<<<< HEAD
=======
        </li>
>>>>>>> 0e71f24fb5bceb8cdf97972b919419b8730c3cfb
      </ul>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="module">
  import { fetchFirebaseConfig, logout, getUserData } from "/javascript/client.js";

  (async () => {
    // Firebase 설정 가져오기 및 앱 초기화
    await fetchFirebaseConfig();

    // 로그아웃 폼 이벤트 등록
    logout();

    // Firestore에서 사용자 데이터 가져오기
    console.log(`로그인 성공시 uid ===> ${localStorage.getItem("uid")}, ${localStorage.getItem("email")}`);

    if (localStorage.getItem("email")) {
      console.log("email이 존재하면...");
      // 메뉴바에 메뉴가 로그인일 때와 로그인 이전일 때 달라야 함.
      $("#login, #logout, #mypage, #email, #signup").toggle();

      // Firestore에서 사용자 이름 가져오기
      const uid = localStorage.getItem("uid");
      if (uid) {
        try {
          const userData = await getUserData(uid);
          document.getElementById('userNameDisplay').textContent = `${userData.displayName}님`;
        } catch (error) {
          console.error("Error getting user data:", error);
        }
      }
    }
  })();

</script>

