# Git 관리에서 제외

# dependencies - git 커밋에서 제외
/node_modules
/.pnp
.pnp.js
.env
.kosmo-exp-2024-firebase-adminsdk-ynt9g-f3065fbbdf.js
slalom2024-75f71-firebase-adminsdk-yfig9-3294414c75.json
wnsqud-kosmo152-firebase-adminsdk-knhsy-33d35c9082.json
SetCORS.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
"slalom2024-75f71-firebase-adminsdk-yfig9-3294414c75.json" 
