<%- include('../partials/header') %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- 로고 -->
      <div class="text-center mb-4">
        <img src="/images/CI.png" alt="Logo" class="mb-3" width="150">
        <h3>Sign in to your account</h3>
      </div>

      <!-- 로그인 폼 -->
      <form>
        <div class="form-group mb-3">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-dark w-100 mb-3">Sign In</button>
      </form>

      <!-- 소셜 로그인 -->
      <div class="text-center">
        <p class="mb-2">Or sign in with</p>
        <a href="/auth/google" class="btn btn-light border w-100">
          <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" width="20" class="mr-2">
          Sign in with Google
        </a>
      </div>

      <!-- 회원가입 링크 -->
      <div class="text-center mt-4">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
        <p>Forgot your account or password? <a href="#">Find it</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
